<launch>
    <!-- Parameters -->
    <rosparam command="load" file = "$(find rrt)/maps/rrt_params.yaml"/>
    <!-- map_server -->
    <arg name="map_file" default="$(find rrt)/maps/levine.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!--nodes -->
    <node pkg="rrt" name="rrt_node" type="rrt_node" output="screen"/>
</launch>
